.container {
    overflow-x: hidden;
    font-family: 'PepeFont', sans-serif;

  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #156D30;
    color: #156D30;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav {
    display: none;
  }
  
  .navList {
    display: flex;
    gap: 15px;
  }
  
  .navItem {
    position: relative;
    cursor: pointer;
  }
  
  .menuIcon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .nav {
      display: block;
    }
    .menuIcon {
      display: none;
    }
  }
  
  .sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #156D30;
    color: #6CB947;
    padding: 20px;
    z-index: 999;
  }
  
  .section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6CB947;
    text-align: center;
    font-family: 'PepeFont', sans-serif;

  }
  
  .scrollTopIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: #AEA83A;
  }
  
  .musicPlayer {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  
  .musicControls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .musicIcon {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .footer {
    background-color: #6CB947;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px); /* Float up */
    }
    100% {
      transform: translateY(0px); /* Return to original position */
    }
  }
  .floatingImage {
    position: "absolute";    
    animation: float 3s ease-in-out infinite; /* Apply the floating animation */
    z-index: 2;
    pointer-events: none;
    transform: "translate(-50%, -50%)";
    left: "50%"; /* Disable pointer events if necessary */
  }

  .uniswapButton {
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 8px;
    background-color: #DB623B;
    color: white;
    border: none;
    position: "absolute";
    cursor: pointer;
    border-color:"2px solid white";
    border: 4px solid white;
    transform: "translate(-50%, -50%)";            
    left: "50%";
    margin-bottom: 400px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  }
  
  .uniswapButton:hover {
    background-color: #A02E00; /* Darker red on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
 /* styles.module.css */
.thirdwebButton {
  border: 3px solid white !important; 
  padding: 30px !important;       
  border-radius: 8px !important;   
  background-color: #6CB947 !important;
  color: white !important;        
  font-size: 26px !important;       
  transition: background-color 0.3s !important;
  font-family: SecondaryFont, sans-serif !important;
}

.thirdwebButton:hover {
  background-color: #006821 !important; /* Dark green background on hover */
  transform: scale(1.05) !important; /* Increase size on hover */
}
