/* page.module.css */
.page {
  background: var(--background); /* Use global background color */
  color: var(--foreground); /* Use global text color */
  min-height: 100vh; /* Ensure full height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PepeFont', sans-serif; /* Custom font */
}

/* Optional styling for other elements */
.h1 {
  font-size: 3rem;
}

@media (prefers-color-scheme: dark) {
  .page {
    background: #156D30; /* Dark green background */
    color: #A02E00; /* Accent text */
  }
}
